.loading{
    text-align: center;
    width: 100%;
    height: 500px;
    /* min-height: max-content; */
    color: red;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}


.profile-container{
    text-align: center;
    width: 100%;
    height: 500px;
    /* min-height: max-content; */
    color: violet;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}